root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,js,ts,jsx,tsx,vue,go,java,kt,rs}]
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[*.{ps1,sh}]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 2
